<h1>
    Elementos para estilo
</h1>
<label>Input text <input type="text"></label> <br>
<label>Input password <input type="password"></label> <br>
<label>Input email <input type="email"></label> <br>
<label>Input number <input type="number"></label> <br>
<label>Input checkbox <input type="checkbox"></label> <br>
<label>Input radio <input type="radio" name="radio"></label> <br>
<label>Input submit <input type="submit"></label> <br>
<label>Input button <input type="button" value="Botão"></label> <br>
<label>Input search <input type="search"></label> <br>
<label>Input tel <input type="tel"></label> <br>
<label>Input url <input type="url"></label> <br>
<label> Select <Select>
    <option value="option1">Option 1</option>
    <option value="option2">Option 2</option>
    <option value="option3">Option 3</option>
</Select></label> <br>
<label>URL
    <a href="">Link</a>
</label>
