{% extends 'base.html' %}

{% block title %}Localização | Fcar{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/localizacao.css') }}">
{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-content">
            <h2>
                Nosso Endereço
            </h2>

            <p class="descricao">
                Estamos localizados em Maceió - AL. 
                Fácil de encontrar e com estrutura completa para melhor atendimento
            </p>

            <p class="endereco">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
                </svg>
                Av. Governador Lamenha Filho, 1893, Feitosa - Maceió - AL
            </p>

            <p class="horario">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67V7z"/>
                </svg>
                Segunda - Sexta: 08h às 18h
            </p>

            <div class="location-grid">

                <div class="img-fachada">
                    <img src="{{ url_for('static', filename='img/fachadaLoja') }}" alt="Foto da fachada da loja">
                </div>
                
                <div class="mapa">
                    <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d491.7018037226396!2d-35.72462314603176!3d-9.62842830757809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x701451dddaf2901%3A0xd8180310a4b23545!2sFcar%20automotiva!5e0!3m2!1spt-BR!2sbr!4v1777994334368!5m2!1spt-BR!2sbr" 
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
            
        </div>
    </section>
{% endblock %}